{% extends "layout.html" %}
{% block content %}
<div class="data_train">
  <h1 class="title">Données d'entraînement</h1>
  
  <p class="warning">Veuillez sélectionner un jeu de données d'entrainement.</p>
  
  <div class="train flex">
    <div class="data flex">bank_annotations</div>
    <a class="add flex" popup_open="popup_train" href="#">+</a>
  </div>
  
  <div class="popup" popup_name="popup_train">
    <div class="popup_content flex">
      <a class="close_button" popup_close="popup_train" href="#">x</a>
      <h1>Ajout d'un jeu de données d'entrainement</h1>
      <label>Sélectionnez le fichier JSON à utiliser</label>
      <input type="file" id="file_input" name="file">
      <button id="submit_data">Ajouter</button>
    </div>
  </div>
  
</div>
{% endblock %}