.train{
  width: 100%;
  margin: 1.5rem 0;
}

.train *{
  background-color: #6d6a67;
  color: white;
  margin-left: 1rem;
  padding: 0.5rem;
  width: 10rem;
  height: 10rem;
  font-size: 1.2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.train :first-child{
  margin-left: 0;
}
.train > .add{
  text-decoration: none;
  display: inline-block;
  font-size: 8.5rem;
  color: white;
}

.train *:hover{
  cursor: pointer;
  background-color: #444443;
}

#popup_train{
  display: none;
}

[popup_name~="popup_train"]>.popup_content{
  flex-direction: column;
  align-items: center;
  text-align: center;
}

[popup_name~="popup_train"]>.popup_content>.title{
  font-size: 1.8rem;
}

[popup_name~="popup_train"]>.popup_content>label{
    margin-top: 2rem;
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
}

#submit_data{
  padding: 0.8rem;
  border: none;
  font-size: 1.2rem;
  margin-top: 3rem;
  border-radius: 1rem;
  background-color: darkgray;
  color: white;
}

#submit_data:hover{
  cursor: pointer;
  background-color: var(--main-bg-color);
}
