/*  TRAIN DATASET
========================================== */

.train{
  width: 100%;
  margin: 1.5rem 0;
}

.train :first-child{
  margin-left: 0;
}

.data, .add{
  flex-direction: column;
  justify-content: center;
  min-width: 10rem;
  border: 1px solid black;
  padding: 0.5rem;
  box-sizing: border-box;
  margin-left: 0.5rem;
}

.data > h1{
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
}

.labels{
  width: 100%;
}
.labels > p {
  margin: 0;
  padding: 0.3rem;
  background-color: #A7CCC0;
}

.add{
  text-decoration: none;
  display: inline-block;
  font-size: 7rem;
  padding: 0;
  color: black;
  text-align: center;
}

.data:hover, .add:hover{
  cursor: pointer;
  background-color: #d5d5d4;
}


/*  SUBMIT DATA POPUP
========================================== */

#popup_train{
  display: none;
}

[popup_name~="popup_train"]>.popup_content{
  flex-direction: column;
  align-items: center;
  text-align: center;
}

[popup_name~="popup_train"]>.popup_content>.title{
  font-size: 1.8rem;
}

[popup_name~="popup_train"]>.popup_content>label{
    margin-top: 2rem;
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
}

#submit_data{
  padding: 0.8rem;
  border: none;
  font-size: 1.2rem;
  margin-top: 3rem;
  border-radius: 1rem;
  background-color: #666363;
  color: white;
}

#submit_data:hover{
  cursor: pointer;
  background-color: var(--main-bg-color);
}
