/*popup_content*/

.popup_content{
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.popup_content>.title{
    margin: 1rem;
    font-size: 2.3rem;
}

.popup_content>.warning{
    border: 1.5px solid darkgray;
    padding: 1rem;
}

#name{
    margin: 0.4rem 0 0 0;
}

#submit_start{
    border: none;
    font-size: 1.2rem;
    margin-top: 3rem;
    border-radius: 1rem;
    background-color: darkgray;
    color: white;
    padding: 0.8rem;
}

#submit_start:hover{
  cursor: pointer;
  background-color: var(--main-bg-color);
}
