/*  POPUP
========================================== */


[popup_name~="popup_test"]>.popup_content{
  flex-direction: column;
  align-items: center;
  text-align: center;
}

[popup_name~="popup_test"]>.popup_content>.title{
  font-size: 1.8rem;
}

[popup_name~="popup_test"]>.popup_content>label{
    margin-top: 2rem;
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
}


/*  SUBMIT DATA
========================================== */



/*  VISUALS
========================================== */

#visuals {
  border-radius: 1.6rem;
  border: 0.1rem solid black;
  padding: 1rem;
}